EMQX_HOST=localhost
EMQX_PORT=1883
EMQX_USERNAME=admin
EMQX_PASSWORD=public
EMQX_WS_PORT=8083

INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=vessel-sloshing-token
INFLUXDB_ORG=vessel
INFLUXDB_BUCKET=sloshing

BACKEND_PORT=3000
WEBSOCKET_PORT=3001

MQTT_TOPIC_PREFIX=vessel/tank

TANK_COUNT=4
SAMPLE_RATE=50
